{% load django_htmx %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/browse/htmx.org@1.9.10/dist/ext/debug.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}" />
    {% django_htmx_script %}

</head>
<body class="bg-gray-100">
<div class="flex justify-center p-12">
    <!-- Container for the Tweet box -->
    <div class="w-full max-w-xl rounded-lg bg-white p-4 shadow-lg">
        <form
                hx-post="/twitter/post_tweet"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                hx-target="#tweet-list"
                hx-swap="afterbegin"
                hx-on:htmx:after-request="this.reset()"
                hx-indicator="#tweets-indicator"
        >
            <div class="flex">
                <!-- Avatar -->
                <img class="h-12 w-12 rounded-full" src="https://via.placeholder.com/150" alt="User avatar">

                <!-- Tweet input -->
                <div class="ml-4 flex-1">
                    <textarea name="content" class="w-full h-24 p-2 border-none focus:ring-0 text-lg placeholder-gray-600" placeholder="What's happening?"></textarea>
                </div>
            </div>

            <!-- Tweet actions -->
            <div class="flex justify-between mt-4">
                <!-- Placeholder for icons (e.g., media, gif) -->
                <div class="text-blue-400 space-x-2">
                    <span>📸</span>
                    <span>🎥</span>
                    <span>👻</span>
                </div>

                <!-- Tweet button -->
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full">
                    Tweet
                </button>
            </div>
        </form>
    </div>
</div>

<div class="flex justify-center p-12">
        <!-- Container for the scrollable feed -->
        <div class="w-full max-w-2xl">
            <!-- Scrollable area -->
            <div id="tweets-indicator" class="flex justify-center htmx-indicator" aria-label="読み込み中">
                <div class="animate-ping h-2 w-2 bg-blue-600 rounded-full"></div>
                <div class="animate-ping h-2 w-2 bg-blue-600 rounded-full mx-4"></div>
                <div class="animate-ping h-2 w-2 bg-blue-600 rounded-full"></div>
            </div>
            <div  id="tweet-list" class="h-full">
                {% include "twitter/component/tweets.html" %}
            </div>
        </div>
    </div>

</body>
</html>